@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SatoshiMedium';
    font-weight: 700;
    src: url('./assets/fonts/Satoshi-Medium.otf');
}

@font-face {
    font-family: 'SatoshiLight';
    font-weight: 500;
    src: url('./assets/fonts/Satoshi-Light.otf');
}

@font-face {
    font-family: 'VLBangers';
    font-weight: 500;
    src: url('./assets/fonts/VL-Bangers.otf');
}

@font-face {
    font-family: IntegralCf;
    src: url(assets/fonts/Fontspring-DEMO-integralcf-heavy.otf);
}

.wrapper {
    max-width: var(--width-page);
    margin: 0 auto;
    padding: 0 20px;
}

:root {
    --width-page: 1240px;
}

html {
    font-family: 'SatoshiMedium';

}